In [7]:
# import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [102]:
# connect to website
url ='https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'


headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

title = soup2.find(id= 'productTitle').get_text()

price = soup2.find(class_ = 'aok-offscreen').get_text()
print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    $16.99

In [104]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [116]:
import datetime

today = datetime.date.today()
print(today)

2024-09-13

In [118]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('AmazonWebScraperData.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [134]:
import pandas as pd

df = pd.read_csv(r"C:\Users\DELL\AmazonWebScraperData.csv")
print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13

In [132]:
#now we are appending to csv 

with open('AmazonWebScraperData.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [136]:
def check_price():
    url ='https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers = headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

    title = soup2.find(id= 'productTitle').get_text()

    price = soup2.find(class_ = 'aok-offscreen').get_text()

    price = price.strip()[1:]
    title = title.strip()

    import datetime
    
    today = datetime.date.today()

    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperData.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [138]:
while(True):
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [140]:
import pandas as pd

df = pd.read_csv(r"C:\Users\DELL\AmazonWebScraperData.csv")
print(df)

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13
11  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-09-13