# Largest country by area

In [42]:
from bs4 import BeautifulSoup
import requests

In [44]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
#soup

In [110]:
#table = soup.find_all('table')[1]
table = soup.find_all('table')[1]
#print(table)

In [108]:
header = table.find_all('th')
headers = [head.text.strip() for head in header]
#print(headers)

In [76]:
import pandas as pd

In [78]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [, Country / dependency, Totalin km2 (mi2), Landin km2 (mi2), Waterin km2 (mi2), %water, ]
Index: []

In [112]:
column_data = table.find_all('tr')
#print(column_data)

In [132]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    single_data = [data.text.strip() for data in row_data]
    #print(single_data)
length = len(df)
df.loc[length] = single_data

In [134]:
df

,,Country / dependency,Totalin km2 (mi2),Landin km2 (mi2),Waterin km2 (mi2),%water,
0,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
1,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
2,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
3,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
4,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
5,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
6,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
7,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
8,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
9,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
10,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
11,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
12,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
13,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
14,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
15,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
16,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
17,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
18,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
19,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
20,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
21,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
22,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
23,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
24,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
25,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
26,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
27,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
28,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
29,195,Vatican City,0.49 (0.19),0.49 (0.19),0,0,[dd]
30,195,Vatican City,0.49 (0.19),0.49 (0.19),0,0,[dd]
31,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
32,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
33,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
34,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
35,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
36,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,
37,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
38,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0,[c]
39,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
40,3/4[e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
41,195,Vatican City,0.49 (0.19),0.49 (0.19),0,0,[dd]

In [136]:
df.to_csv(r'C:\Users\DELL\Documents\Scraped Data\Largest Countries by Area.csv', index = False)